.modal {
  top: 20%;
  left: 10%;
  width: 80%;
  height: 70%;
  display: block;
  justify-content: center;
  align-items: center;

  }
  
  .modal-content {
    background-color:rgb(15, 25, 34);
    padding: 20px;
    border-color: #293e53;
    border-radius: 32px;
  }
  